<form action="">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control login_input" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control login_input" placeholder="Enter name" id="pwd">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control login_input" placeholder="Enter password" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Conform Password:</label>
        <input type="password" class="form-control login_input" placeholder="Enter conform password" id="pwd">
      </div>
    <button type="submit" class="btn btn-primary">sign up</button>
  </form>